################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/.vs
*.dll
*.exe
/.vs/*
*/obj
*/bin
